@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
#container {
	top: 50%;
	left: 50%;
	padding: 20px;
	position: absolute;
	text-align: center;
	border-radius: 25px;
	transform: translateX(-50%) translateY(-50%);
	background: rgba(0, 0, 0, 0.8)
}
p{
	color: white;
	text-shadow: 0px 0px 3px black;
	letter-spacing: 8px;
	font-family: 'East Sea Dokdo', cursive;
	font-size: 60px;
}
#qwertz{
	color: white;
	font-family: verdana;
	font-size: 10px;
	margin-right: auto;
  	text-align: left;

}
#qwertz2{
	color: white;
	font-family: verdana;
	font-size: 10px;
	margin-right: auto;
  	text-align: left;
}
body{
	background-color: black;
	text-align: center;
	overflow:-moz-scrollbars-vertical;
	overflow-x:hidden;
	overflow:-moz-scrollbars-vertical;
	overflow-y:hidden;
	}
a{
    text-align: center;
	transition: 1s;
	font-size: 12px;
	text-align: center;	
	color: white;
	text-shadow: 0px 0px 3px gray;
	text-decoration: none;
	letter-spacing: 1px;
	font-family: 'Comfortaa', cursive;
	-webkit-transition: 1s;
}
a:hover{
	color: rebeccapurple;
	text-shadow: 1px 1px 2px black;
	-webkit-transition: 1s;
	transition: 1s;
	letter-spacing: 2px;
	font-size: 16px;
}
#mid{               
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);    
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

* {
	box-sizing: border-box;
	cursor: default;
}