*{
    cursor: default;
    text-decoration: none;
    color: white;
    text-align: center;
}
body{
    background-color: black;
    color: white;
}
ul{
    text-align: center;
}
li {
    color: gray;
}
p{
    color: red;
}
h6{
    color: blue;
}
a{

}